.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background: #284f72;
  color: white;
  height: calc(100vh - 40px);

  a {
    color: lightgrey;
    font-size: 14px;
  }

  a:nth-child(3){
    font-size: 30px;
    color: yellow;
  }
}