.content {
  &Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input {
      height: 20px;
      min-width: 260px;
      padding: 4px;
      font-size: 13px;
    }
  }

  &Members {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    @media only screen and (max-width: 800px) {
      padding: 10px;
      grid-template-columns: 1fr;
    }
  }
}