.member {
  width: auto;
  border: 1px solid lightgreen;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &Header {
    height: 20px;
    background: #d4f1a8;
    color: #464545;
    padding: 5px;
    text-align: center;
  }

  &Info {
    background: white;
    padding: 5px;
    font-size: 14px;
    color: gray;
  }

  & a {
    text-decoration: none;
  }

  &:hover {
    border: 1px solid gray;
  }
}