* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header.header {
  width: 100%;
  height: 20px;
  background: gray;
  color: white;
  text-align: center;
}

footer.footer {
  width: 100%;
  height: 20px;
  background: gray;
  color: white;
  text-align: center;
}

//Containers
@import './containers/Home/home';
@import './containers/Detail/detail';

//Components
@import './components/Member/member';